RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://www.staarbox.in/$1 [R=301,L] 
RewriteCond %{HTTP_HOST} !^www\. 
RewriteRule ^(.*)$ https://www.staarbox.in/$1 [R=301,L]


Redirect 301 /checkout/Payment.html https://www.staarbox.in/ 
Redirect 301 /checkout/form.html https://www.staarbox.in/ 
Redirect 301 /checkout/payment.html https://www.staarbox.in/ 
Redirect 301 /profile.html https://www.staarbox.in/
